<div class="w3-card-4 w3-round light theme-base w3-border theme-border-light">
    <div class="w3-container velocimodel-blue w3-round asset-title">
        <div class="w3-container velocimodel-blue w3-round asset-title">
            <div class="card-title-bar">
                <input id="asset-name" class="w3-input card-title name-field light theme-text-light" type="text" value="{{ .asset.name }}">
                <a href="/ui/asset/{{ .asset.id }}/code" class="icon" style="margin-top:10px;color:#fff;">
                    <i class="fa-solid fa-code w3-large"></i>
                </a>
                {{ if eq .asset.type "file" }}
                <div class="icon" style="margin-top:10px;">
                    <i class="fa-solid fa-download w3-large pointer-cursor" onclick="downloadFileAsset('/api/asset/file/{{ .asset.id }}')"></i>
                </div>
                {{ end }}
                {{ if eq .asset.type "git" }}
                <div class="icon" style="margin-top:10px;">
                    <i class="fa-solid fa-arrows-rotate w3-large pointer-cursor" onclick="syncGitAsset('{{ .asset.id }}')"></i>
                </div>
                {{ end }}
                <div class="icon" style="margin-top:10px;">
                    <i class="fa-solid fa-floppy-disk w3-large pointer-cursor" onclick="saveAsset()"></i>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="asset-card">
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light light">
            <div class="w3-container velocimodel-blue w3-round asset-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align">Metadata</h4>
                </div>
            </div>
            <div class="asset-card">
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>ID: </strong></span>{{ .asset.id }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Created: </strong></span>{{ .asset.created }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Updated: </strong></span>{{ .asset.updated }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Type: </strong></span>{{ .asset.type }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>URL: </strong></span>{{ .asset.url }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Metadata</strong></span></div>
                <pre class="w3-code jsHigh notranslate light theme-base">{{ .metadata_json }}</pre>
            </div>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light light">
            <div class="w3-container velocimodel-blue w3-round asset-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align card-header">Tags</h4>
                </div>
            </div>
            <br>
            <div class="asset-card" id="tags">
                <input id="tag-input" value="{{ .tag_json }}" class="velocimodelTag">
            </div>
            <br>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light light">
            <div class="w3-container velocimodel-blue w3-round asset-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align card-header">Models</h4>
                </div>
            </div>
            <table class="w3-table w3-bordered">
                <tr>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Name</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Last Updated</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Version</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">ID</span>
                    </th>
                    <th class="table-link"></th>
                </tr>
                {{ range .models }}
                    <tr>
                        <td>{{ .name }}</td>
                        <td>{{ .updated }}</td>
                        <td>{{ .language }}</td>
                        <td>{{ .id }}</td>
                        <td class="table-link-cell">
                            <a href="/ui/model/{{ .id }}" class="table-link-link light theme-text">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </td>
                    </tr>
                {{ end }}
            </table>
        </div>
        <br>
    </div>
</div>
