<div class="w3-card-4 w3-round dark theme-base w3-border theme-border-light">
    <div class="w3-container velocimodel-blue w3-round model-title">
        <div class="w3-container velocimodel-blue w3-round model-title">
            <div class="card-title-bar">
                <input id="model-name" class="w3-input card-title name-field dark theme-text-light" type="text" value="{{ .model.name }}">
                <a href="/ui/model/{{ .model.id }}/code" class="icon" style="margin-top:10px;color:#fff;">
                    <i class="fa-solid fa-code w3-large"></i>
                </a>
                <div class="icon" style="margin-top:10px;">
                    <i class="fa-solid fa-floppy-disk w3-large pointer-cursor" onclick="saveModel()"></i>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="model-card">
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align">Metadata</h4>
                </div>
            </div>
            <div class="model-card">
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>ID: </strong></span>{{ .model.id }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Created: </strong></span>{{ .model.created }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Updated: </strong></span>{{ .model.updated }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Language: </strong></span>{{ .model.language }}</div>
                <div class="w3-left-align"><span class="velocimodel-text-blue"><strong>Metadata</strong></span></div>
                <pre class="w3-code jsHigh notranslate dark theme-base">{{ .metadata_json }}</pre>
            </div>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align card-header">Tags</h4>
                </div>
            </div>
            <br>
            <div class="model-card" id="tags">
                <input id="tag-input" value="{{ .tag_json }}" class="velocimodelTag">
            </div>
            <br>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align card-header">Assets</h4>
                    <div class="w3-round w3-button velocimodel-green w3-right-align card-header-button" onclick="addAsset()">Add Asset</div>
                </div>
            </div>
            {{ range .assets }}
            <button type="button" class="collapsible dark theme-light theme-hover-base w3-border-bottom theme-border-base">
                <span style="float:left;">{{ .id }}</span>
                <a href="/ui/asset/{{ .id }}" style="float:right;margin-right:8px;" class="dark theme-text">
                    <i class="fa-solid fa-link"></i>
                </a>
                <span style="float:right;">{{ .type }}&nbsp;&nbsp;</span>
            </button>
            <div class="content">
                <span><span class="velocimodel-text-blue"><strong>Name: </strong></span>{{ .name }}</span>
                <br>
                <span><span class="velocimodel-text-blue"><strong>Created: </strong></span>{{ .created }}</span>
                <br>
                <span><span class="velocimodel-text-blue"><strong>Updated: </strong></span>{{ .updated }}</span>
                <br>
                <span><span class="velocimodel-text-blue"><strong>Metadata</strong></span></span>
                <pre class="w3-code jsHigh notranslate dark theme-base" style="width:100%;">{{ .metadata_json }}</pre>
            </div>
            {{ end }}
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align card-header">Snapshots</h4>
                    <div class="w3-round w3-button velocimodel-green w3-right-align card-header-button" onclick="createSnapshot()">Create Snapshot</div>
                </div>
            </div>
            <table class="w3-table w3-bordered">
                <tr>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Name</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Last Updated</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Version</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">ID</span>
                    </th>
                    <th class="table-link"></th>
                </tr>
                {{ range .snapshots }}
                    <tr>
                        <td>{{ .name }}</td>
                        <td>{{ .updated }}</td>
                        <td>{{ .version }}</td>
                        <td>{{ .id }}</td>
                        <td class="table-link-cell">
                            <a href="/ui/snapshot/{{ .id }}" class="table-link-link dark theme-text">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </td>
                    </tr>
                {{ end }}
            </table>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <div class="card-title-bar">
                    <h4 class="w3-left-align card-header">Releases</h4>
                </div>
            </div>
            <table class="w3-table w3-bordered">
                <tr>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Name</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Last Updated</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">Version</span>
                    </th>
                    <th class="table-title w3-medium velocimodel-text-blue">
                        <span class="table-title-text">ID</span>
                    </th>
                    <th class="table-link"></th>
                </tr>
                {{ range .releases }}
                    <tr>
                        <td>{{ .name }}</td>
                        <td>{{ .updated }}</td>
                        <td>{{ .version }}</td>
                        <td>{{ .id }}</td>
                        <td class="table-link-cell">
                            <a href="/ui/release/{{ .id }}" class="table-link-link dark theme-text">
                                <i class="fa-solid fa-link"></i>
                            </a>
                        </td>
                    </tr>
                {{ end }}
            </table>
        </div>
        <br>
    </div>
</div>
