<div class="w3-card-4 w3-round dark theme-base w3-border theme-border-light">
    <div class="w3-container velocimodel-blue w3-round model-title">
        <div class="w3-container velocimodel-blue w3-round model-title">
            <div class="card-title-bar">
                <h4 class="card-title">{{ .model.name }}</h4>
                <a href="/ui/model/{{ .model.id }}/edit" class="icon">
                    <i class="fa-solid fa-pen-to-square w3-large"></i>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="model-card">
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <h4 class="w3-left-align">Metadata</h4>
            </div>
            <div class="model-card">
                <div class="w3-left-align">ID: {{ .model.id }}</div>
                <div class="w3-left-align">Created: {{ .model.created }}</div>
                <div class="w3-left-align">Updated: {{ .model.updated }}</div>
                <div class="w3-left-align">Language: {{ .model.language }}</div>
                <div class="w3-code jsHigh notranslate dark theme-base">
                    {{ .model.metadata }}
                </div>
            </div>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <h4 class="w3-left-align">Tags</h4>
            </div>
            <br>
            <div class="model-card">
                {{ range .model.tags }}
                <span class="w3-tag w3-round velocimodel-green model-tag">{{ . }}</span>
                {{ end }}
            </div>
            <br>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <h4 class="w3-left-align">Assets</h4>
            </div>
            <ul class="w3-ul w3-card-4 model-ul">
                {{ range .model.assets }}
                <li class="model-li">
                    <a href="/ui/asset/{{ . }}"><i class="fa-solid fa-link"></i></a>
                    <span class="small-margin-left">{{ . }}</span>
                </li>
                {{ end }}
            </ul>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <h4 class="w3-left-align">Snapshots</h4>
            </div>
            <ul class="w3-ul w3-card-4 model-ul">
                {{ range .model.snapshots }}
                <li class="model-li">
                    <a href="/ui/snapshot/{{ . }}"><i class="fa-solid fa-link"></i></a>
                    <span class="small-margin-left">{{ . }}</span>
                </li>
                {{ end }}
            </ul>
        </div>
        <br>
        <div class="w3-card-4 w3-round w3-border theme-border-light theme-light dark">
            <div class="w3-container velocimodel-blue w3-round model-title">
                <h4 class="w3-left-align">Releases</h4>
            </div>
            <ul class="w3-ul w3-card-4 model-ul">
                {{ range .model.releases }}
                <li class="model-li">
                    <a href="/ui/release/{{ . }}"><i class="fa-solid fa-link"></i></a>
                    <span class="small-margin-left">{{ . }}</span>
                </li>
                {{ end }}
            </ul>
        </div>
        <br>
    </div>
</div>
