<div class="w3-card-4 w3-round dark theme-light w3-border theme-border-light">
    <div class="w3-container velocimodel-blue w3-round release-title">
        <h4>Releases</h4>
        <input id="search" class="w3-input w3-round search-bar" type="text" name="search" placeholder="Search releases" oninput="getReleases()">
    </div>
    <br/>
    <table class="w3-table w3-bordered dark w3-border theme-border-light" id="releases-table">
        <tr>
            <th class="table-title w3-medium velocimodel-text-blue">
                Release Name
            </th>
            <th class="table-title w3-medium velocimodel-text-blue">
                Last Updated
            </th>
            <th class="table-title w3-medium velocimodel-text-blue">
                Language
            </th>
            <th class="table-title w3-medium velocimodel-text-blue">
                Tags
            </th>
            <th>
                <div class="w3-round w3-button velocimodel-green">Create New</div>
            </th>
        </tr>
        {{ range .releases }}
            <tr>
                <td>{{ .name }}</td>
                <td>{{ .updated }}</td>
                <td>{{ .language }}</td>
                <td>
                    {{ range .tags }}
                    <span class="w3-tag w3-round velocimodel-green release-tag">{{ . }}</span>
                    {{ end }}
                </td>
                <td class="table-link-cell">
                    <a href="/ui/release/{{ .id }}" class="table-link-link w3-right-align dark theme-text" style="float:right;margin-right:16px;">
                        <i class="fa-solid fa-link"></i>
                    </a>
                </td>
            </tr>
        {{ end }}
    </table>
</div>
