/* import material.css */
/* import velocimodel.css */
/* import sidebar.css */
/* import dark.css */
/* import light.css */
/* import layout.css */
/* import appearance.css */

.asset-title {
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
    width: 100%;
}

.asset-card {
    padding-left: 20px;
    padding-right: 20px;
}

.search-bar {
    width:80%;
    margin-left:5%;
    float:right;
}

.asset-tag {
    padding-left: 5px;
}

.asset-ul {
    width:100%;
}

.asset-li {
    display: flex;
    width: 100%;
}
