/* import material.css */
/* import velocimodel.css */
/* import sidebar.css */
/* import dark.css */
/* import light.css */
/* import layout.css */
/* import appearance.css */
/* import spinner.css */

.model-title {
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
}
