/* global appearance settings */
a {
    text-decoration: none;
}

a:visited
{ 
    text-decoration: none !important;
}

.default-cursor {
    cursor:default;
}

.pointer-cursor {
    cursor:pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.velocimodelTag{
    --tag-bg: #a3be8c;
    --tag-text-color: #ffffff;
    --tags-disabled-bg: #373f51;
}

.velocimodelTag .tagify__tag > div{
    border-radius: 4px;
}
